<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>this is yanay's shop</h1>
<h3>this is the best shop for watches</h3>
<img src="https://www.google.com/search?q=watches+rugged&tbm=isch&ved=2ahUKEwigm_237JeAAxWxsEwKHflaCMEQ2-cCegQIABAA&oq=watches+rugged&gs_lcp=CgNpbWcQAzIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeOgQIIxAnOgcIABCKBRBDOgUIABCABDoGCAAQBRAeUNwPWMoXYNAZaABwAHgAgAGIAogBtwuSAQUwLjUuM5gBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=ek62ZKD2KLHhsgL5taGIDA&bih=948&biw=1920#imgrc=2zf3eZRHqjsTMM">
<img src="https://images.timex.com/image/upload/q_auto,f_auto/e_sharpen:120,c_fill/Catalogs/timex-master-catalog/images/T49831.png">
<img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1633555202-best-watch-releases-july-bremont-1627565686.jpg">
<a href="/product">products</a>
<a href=/cart>cart</a>
</body>
</html>